:root {
    --fs-small: .5rem;
    --fs-medium: 1rem;
    --fs-big: 1.5rem;
    --fs-bigger: 2rem;
    --fs-giant: 3rem;
    --clr-dark-muted: #EEE;
    --top-bar-height: 12rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: 'Electrolize', sans-serif;
}

body {
    color: white;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(default-bg.jpg);
    background-size: cover;
    background-position: bottom center;
}

.input-container {
    --primary-text-color: linen;
    --button-bg-color: #fd7d18;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 1.25rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container.top {
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 0;
    height: var(--top-bar-height);
}

#custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-name-input-label {
    color: var(--primary-text-color);
    font-size: var(--fs-bigger);
    font-weight: bold;
    display: block;
}

#city-name-input {
    padding: .5rem 1rem;
    border-radius: 100vmax;
    border: 2px solid transparent;
    text-align: center;
    font-size: 1.25rem;
    background-color: linen;
    outline: none;
    margin: 1rem 0;
}

#city-name-input:hover,
#city-name-input:active,
#city-name-input:focus {
    border: 2px solid var(--button-bg-color);
}

.city-name-submit-button {
    color: black;
    font-family: inherit;
    cursor: pointer;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 100vmax;
    font-weight: bold;
    font-size: var(--fs-medium);
    padding: .25rem .7rem;
}

.city-name-submit-button:hover,
.city-name-submit-button:active,
.city-name-submit-button:focus {
    background-color: #fdac99;
}

.error-text {
    display: none;
    font-weight: bold;
}

.error-text.show-error {
    display: block;
}

.weather-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 2rem 3rem;
    margin-top: var(--top-bar-height);
}

.show {
    display: flex;
}

.city-name-container {
    display: flex;
    align-items: center;
}

.city-name {
    font-size: var(--fs-giant);
    font-weight: bold;
}

.country {
    color: var(--clr-dark-muted);
    font-size: var(--fs-big);
    margin-left: 1rem;
    margin-right: 1rem;
    padding: .4rem;
    border: 2px solid gray;
    border-radius: 100%;
}

.weather-description {
    text-transform: capitalize;
}

.weather-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.temperature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

.current-temperature {
    color: orangered;
}

.data-text {
    font-size: var(--fs-big);
}

.data-text.medium {
    font-size: var(--fs-medium);
}

.data-text.big {
    font-size: var(--fs-big);
}

.data-text.giant {
    font-size: var(--fs-giant);
}

.wind-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wind-direction {
    --size: 8rem;
    --degrees: 0deg;
    margin: calc(var(--size) / 5);
    width: var(--size);
    height: var(--size);
    background-color: rgba(0, 0, 0, .7);
    border-radius: 50%;
    position: relative;
    border: 2px solid white;
}

.wind-direction::before {
    content: "";
    position: absolute;
    width: calc(var(--size) / 8);
    height: calc(var(--size) / 2);
    background-color: red;
    clip-path: polygon(50% 0%, 0 100%, 100% 100%);
    left: 50%;
    transform: translateX(-50%) rotate(var(--degrees));
    transform-origin: bottom;
    border-radius: 1rem;
}

.wind-direction-text {
    position: absolute;
    font-size: var(--fs-medium);
    /* font-family: 'Courier Prime', monospace; */
    padding: 1px 5px;
}

.north {
    left: 50%;
    transform: translate(-50%, -100%);
}

.east {
    top: 50%;
    right: 0;
    transform: translate(100%, -50%);
}

.south {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
}

.west {
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
}